# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [1]:
# Import sqlite3 and pandas.
import sqlite3 as sl
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [3]:
# Create a new database called exercises.db.
con = sl.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [8]:
# Create a new table in your database.
with con:
    con.execute("""
        CREATE TABLE BOOKS (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            title TEXT,
            author TEXT,
            description TEXT
        );
    """)

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [11]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO BOOKS (id, title, author, description) values(?, ?, ?, ?)'
data = [
    (1, 'The Alchemist', 'Coelho, Paulo', 'A classic novel about a boy named Santiago who goes out on a quest to discover who he is.'),
    (2, 'Harry Potter and the Prisoner of Azkaban', 'Rowling, J.K.', 'This is the 3rd book in the Harry Potter series.'),
    (3, 'To Kill a Mockingbird', 'Lee, Harper', 'A classic novel about a lawyer, Atticus Finch, and his daughter Scout and son Jem in a small town. Atticus defends a black man falsely accused of rape and is a coming of age novel for Scout')
]
with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [12]:
# Write your SELECT query here.
with con:
    data = con.execute("SELECT * FROM BOOKS")
    for row in data:
        print(row)

(1, 'The Alchemist', 'Coelho, Paulo', 'A classic novel about a boy named Santiago who goes out on a quest to discover who he is.')
(2, 'Harry Potter and the Prisoner of Azkaban', 'Rowling, J.K.', 'This is the 3rd book in the Harry Potter series.')
(3, 'To Kill a Mockingbird', 'Lee, Harper', 'A classic novel about a lawyer, Atticus Finch, and his daughter Scout and son Jem in a small town. Atticus defends a black man falsely accused of rape and is a coming of age novel for Scout')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [26]:
df_movie = pd.DataFrame({
    'id_rank': [1,2,3],
    'movie_title': ['The Notebook', 'The Chronicles of Narnia: The Lion, The Witch and The Wardrobe', 'Lord of the Rings Trilogy']
})

df_movie.to_sql('MOVIES', con)

3

In [28]:
df = pd.read_sql('''
    SELECT *
    FROM MOVIES
''', con)
print(df)

   index  id_rank                                        movie_title
0      0        1                                       The Notebook
1      1        2  The Chronicles of Narnia: The Lion, The Witch ...
2      2        3                          Lord of the Rings Trilogy